/*
* 
*/

p {
    color: red;
    display: inline;
}

.parrafo {
    color: blue;
}

#descripcion {
    color: green;
}

p#descripcion {
    color: yellow;
}

p.parrafo {
    color: yellow;
}

.parrafo#descripcion {
    color: yellow;
}

p.parrafo#descripcion {
    color: aquamarine;
}

a {
    display: block;
    font-family: 'Arial';
    font-size: 14px;
    color: royalblue;
    margin: 10px 20px 15px 25px;
    padding: 15px;
    border: 2px solid black;
    background: #ddd;
}

p a {}

p>a {}

p[class] {}

p+a {}